﻿@{
    ViewBag.Title = "장바구니";
}

@section css {
    <style type="text/css">
        .btn.btn-default {
            color: #ff0000;
            background-color: #FFFFFF;
            background-image: linear-gradient(to bottom, #FFFFFF, #ffffff);
            border-color: #ff0000 #ff0000 #ff0000;
        }

        .btn.btn-default:hover {
            color: #ff0000;
            background-color: #ffffff;
            background-image: linear-gradient(to bottom, #ffffff, #ffffff);
            border-color: #ff0000 #ff0000 #ff0000;
        }
    </style>
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">로직 설명</h3>
    </div>
    <div class="panel-body">
        - 현 페이지에서 자동으로 <span style="color: #f00;">__token</span> 쿠키가 없을 경우 guid 를 토대로 쿠키를 발행합니다.<br />
        - 장바구니는 <span style="color: #f00;">__token</span>으로 발행된 guid 값을 토대로 장바구니에서 user identity를 특정합니다.<br />
        - API ActionFilter에서 해당 토큰이 없을 경우 API 처리를 종료합니다.<br />
        - 동일한 상품의 중복체크는 하지 않습니다.
    </div>
</div>

<script id="cart_template" type="text/template">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <button type="button" class="btn_trash btn btn-default btn-xs" style="float: right"><span class="glyphicon glyphicon-trash"></span> </button>
            <h6 class="my-0"><span class="txt_product_name" style="font-weight: bold;">상품명</span></h6>
        </div>
        <div class="row">
            <div class="text-muted"><small class="col-sm-3">수량</small><small class="col-sm-9 txt_product_qty">(0개)</small></div>
            <div class="text-muted"><small class="col-sm-3">마일리지</small><small class="col-sm-9 txt_mileage">상품 정보</small></div>
        </div>
        <div style="margin-top: 10px;">
            <div class="txt_price text-muted">\0</div>
        </div>
    </li>
</script>

<div class="row">
    <div class="col-md-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">장바구니</span>
            <span id="txt_product_cnt" class="badge badge-secondary badge-pill">0</span>
        </h4>
        <ul id="cart_list" class="list-group mb-3"></ul>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
                <span>총 금액</span>
                <strong id="total_price">\0</strong>
            </li>
        </ul>
    </div>
    <div class="col-md-8 img-rounded table-bordered" style="padding-bottom: 10px;">
        <h4 style="margin-bottom: 30px;">상품 정보</h4>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtName">상품명</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtName" name="name" placeholder="상품명을 입력해 주세요" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtPrice">단가</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="txtPrice" name="price" placeholder="단가를 입력해 주세요" />
                </div>
                <label class="control-label col-sm-2" txt="txtQty">수량</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="txtQty" name="quantity" placeholder="수량을 입력해 주세요" />
                </div>
            </div>
            <button type="submit" id="btnAddCart" class="btn btn-info col-sm-12">장바구니 담기</button>
        </form>
    </div>
</div>

@section script {
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $('button#btnAddCart').on('click', postCart);
            getCartList();
        });

        /**
         * 상품 장바구니 등록
         */
        var postCart = function () {
            var txtProductName = $('input#txtName');
            var txtProductPrice = $('input#txtPrice');
            var txtProductQty = $('input#txtQty');

            if ($.trim(txtProductName.val()).length == 0) {
                alert('상품명을 입력해 주시기 바랍니다.');
                txtProductName.focus();
                return false;
            }

            if ($.trim(txtProductName.val()).length > 50) {
                alert('상품명은 50자 이내로 입력해 주시기 바랍니다.');
                txtProductName.focus();
                return false;
            }

            if ($.trim(txtProductPrice.val()).length == 0) {
                alert('상품 단가를 입력해 주시기 바랍니다.');
                txtProductPrice.focus();
                return false;
            }

            if (!$.isNumeric(txtProductPrice.val())) {
                alert('상품 단가를 올바르게 입력해 주시기 바랍니다.');
                txtProductPrice.focus();
                return false;
            }

            if ($.trim(txtProductQty.val()).length == 0) {
                alert('수량을 입력해 주시기 바랍니다.');
                txtProductQty.focus();
                return false;
            }

            if (!$.isNumeric(txtProductQty.val())) {
                alert('수량을 올바르게 입력해 주시기 바랍니다.');
                txtProductQty.focus();
                return false;
            }

            $.post('/api/cart', $('form').serialize(), function (data) {
                if (data.response_code != 0 || data.result != 'Y')
                    alert('장바구니 입력 실패');
            }).always(getCartList);
            return false;
        };

        /**
         * 장바구니 목록 검색
         */
        var getCartList = function () {
            $.get('/api/cart', {}, function (data) {
                if (data.response_code != 0) {
                    $('ul#cart_list').html('');
                    $('span#txt_product_cnt').text('0');
                    $('strong#total_price').text('\\0');
                    return;
                }

                $('ul#cart_list').html('');
                $('span#txt_product_cnt').text(data.result == null ? 0 : data.result.cart_items.length);
                $('strong#total_price').text('\\' + numberWithCommas(data.result.total_price));

                for (var idx in data.result.cart_items) {
                    var item = data.result.cart_items[idx];

                    var $template = $($('#cart_template').html());

                    var name = item.name;
                    var mileage = numberWithCommas(item.mileage);
                    var mileageDesc = (item.mileage > 0 ? ' (' + item.description + ')' : '');
                    var price = '\\' + numberWithCommas(item.total_price);
                    var qty = numberWithCommas(item.quantity) + '개';
                    var seq = item.seq;

                    $template.find('span.txt_product_name').text(name).end()
                        .find('small.txt_product_qty').text(qty).end()
                        .find('small.txt_mileage').text(mileage + mileageDesc).end()
                        .find('div.txt_price').text(price).end()
                        .find('button.btn_trash').attr('__seq', seq).on('click', function () {
                            var seq = $(this).attr('__seq');
                            removeCart(seq);
                        }).end();

                    total_price += item.total_price;
                    $('ul#cart_list').append($template);
                }
            }).always(function () {
                $("form").trigger('reset');
            });
        };

        /**
         * 장바구니 삭제
         * @@param seq 상품 고유번호
         */
        var removeCart = function (seq) {
            if (confirm('장바구니에서 삭제하시겠습니까?')) {
                $.ajax({
                    url: 'api/cart',
                    type: 'DELETE',
                    data: {
                        'seq': seq
                    },
                    success: function (data) {
                        if (data.response_code == 0)
                            alert('삭제되었습니다.');
                        else
                            alert('장바구니에서 삭제 하지 못했습니다.');
                    }
                }).always(getCartList);
            }
        };

        /**
         * 숫자 콤마표시
         * @@param x 표시할 숫자
         */
        var numberWithCommas = function (x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        };
        //]]>
    </script>
}